@import '../../../assets/style/theme.scss';
@import '../../../assets/style/border.scss';
.tabbar{
  .tabbar-list{
    background-color: rgb(243, 243, 243);
    height:0.48rem;
    display: flex;
    list-style: none;
    @include border(#666,1px 0 0 0 );
    li{
      flex: 1;
      height:100%;
      a{
        height:100%;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
        span{
          color:#666;
          font-size: 0.1rem;
        }
        i{
          color:#666;
          font-size:0.2rem
        }
        &.active{
          span{
            color:$theme
          }
          i{
            color:$theme
          }
        }
      }
    }
  }
}