.list-item{
    padding: 0.15rem;
    .item-title{
      text-align: left;
      color:#333;
      font-size: 0.14rem;
      margin:0.15rem 0
    }
    ul{
      display:  flex;
      flex-wrap: wrap;
      li{
        flex:33.33%;
        margin:0.15rem 0;
        a{
          display: flex;
          flex-direction: column;
          width: 100%;
          height:100%;
          justify-content: center;
          align-items: center;
          img{
            width: 60%;
          }
          span{
            font-size: 0.12rem;
            color:#333
          }
        }
      }
    }
  }